<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WebViewAndHTML.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>61A8E3BA1ED6803E00704F56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61A8E3CD1ED6803F00704F56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61A8E3D81ED6803F00704F56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
